@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200&display=swap');
*{
	margin: 0;
	padding: 0;
	background-color: white;
	box-sizing: border-box;
}

li,a,button{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: white;
	text-decoration: none;
}
header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 10%;
	background:darkgreen;
}
.logo{
	cursor: pointer;
	margin-right: auto;
}
.one{
	list-style: none;
	background: darkgreen;
}
.one li {
	
	display: inline-block;
	padding: 0px 20px;
	position: relative;
	background-color: darkgreen;
}
.one li a{
	transition: all 0.3s ease 0s;
	background-color: darkgreen;
}
.one li a:hover{
	color: black;
	text-shadow: 1px 1px;
}
.btn1{
	margin-right:5px;
	margin-left: 240px;
	padding: 3px 4px;
	background-color:white;
	color: darkgreen;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	transition: all 0.3s ease 0s;;
}
.btn1:active{
    box-shadow: 3px 3px 9px #ffffff ;
}
.btn1:hover{
	background: white;
	color: black;
	text-shadow: 1px 1px;
}

.btn2{
	margin-left: 5px;
	padding: 3px 6px;
	background-color: white;
	color: darkgreen;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	transition: all 0.3s ease 0s;
}
.btn2:active{
    box-shadow: 3px 3px 9px #ffffff ;
}
.btn2:hover{
	background: white;
	color: black;
	text-shadow: 1px 1px;
}
two{
	list-style: none;
	background: white;
}
.two li {
	
	display: inline-block;
	padding: 8px 20px;
	position: relative;
	background-color: white;
}

.two li a{
	transition: all 0.3s ease 0s;
	background-color: white;
	color: black;
	margin-left: 80px;
}
.two li a:hover{
	color: darkgreen;
	text-shadow: 1px 1px;
	
}
  /*kaydırma*/
p{	
	margin-left: 650px;
	width: 284px;
	color: #393c3d;
	font-size: 40px;
	margin-top: 135px;
	text-align:center;
	font-family:Arial;
}
.trennd .trend p:hover{

	color: #393c3d;
}


.kaydirma{
	margin-top: 50px;
	justify-content: center;
	min-height: 40vh;
	display: flex;
	padding: 0 35px;
}
.kaydirma .wrapper .carousel{
	white-space: nowrap;
	font-size: 0px;
	cursor: pointer;
	overflow: hidden;
	scroll-behavior:smooth;
}
.kaydirma .wrapper{
	max-width: 1200px;
	position: relative;
	display: flex;
}
.kaydirma .wrapper i{
	top:40%;
	height: 46px;
	width: 46px;
	color: #343F4F;
	cursor: pointer;
	position: absolute;
	font-size: 1.2rem;
	text-align: center;
	line-height: 46px;
	background: white;
	border-radius: 50%;
	transform: translateY(-40%);
	transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-40%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.kaydirma .wrapper i:first-child{
	left: -23px;
}
.kaydirma .wrapper i:last-child{
	right: -23px;
}

.carousel.dragging{
	cursor: grab;
	scroll-behavior: auto;
}
.carousel.dragging img{
	pointer-events: none;
}

.carousel img {
	height: 340px;
	object-fit: cover;
	user-select: none;
	width: 398px;
	margin-left: 14px;
}
.carousel img:first-child{
	margin-left: 10px;
}
@media screen and (max-width:900px){
	.carousel img{
		width: calc(100% /2);
	}
}	
@media screen and (max-width:550px){
	.carousel img{
		width: 100%;
	}
}



 /*home bölümü */
.menu .box-container{
	width: 90%;
	padding: 0px;
	background:transparent;
	margin: 40px auto;
	display: flex;
	justify-content: center;
	margin-bottom: 110px;
}
.menu .box-container .box{
	width: 250px;
	height: 300px;
	background: darkgreen;
	margin: 0px 10px;
	transition: 1s;
}
.menu .box-container .box:hover{
	transform: scale(1.3);
	background: #ff800a;
	box-shadow: 2px 2px 2px #000;
	z-index: 2;
}
.menu p {
	margin-top: 200px;
	margin-bottom: 10px;
	margin-left: 620px;
	font-size: 40px;
	color: #393c3d;
	width: 384px;
	font-family:Arial;
}
.menu p:hover{
	
	color: #393c3d;
}
.menu .box-container .box img{
  height: 300px; 
  width: 250px;
}
p{
	text-align: center;
}
	
/*home bölümü BİTTİ*/

/* SON */

footer{
	background: black;
	padding: 60px 0 20px 0;
	color: white;
}
.inner_footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	width: 80%;
	background: black;
}
.child_footer{
	flex-basis:24%;
	background: black;
}
.child_footer h3{
	margin-bottom: 13px;
	background: black;
	font-size: 20px;
}
.child_footer .footer_social{
	display:flex;
	justify-content: start;
	margin-top: 10px;
	background: black;
}
.child_footer ul li{
	flex-basis: 15%;
	background: black;
	list-style-type:none;
}
.child_footer ul li a{
	color:white;
	background: black;
	font-size: 13px;
}
.quick_kurum{
	display: flex;
	flex-direction: column;
}
.quick_kurum li a:hover{
	text-decoration: underline;
}
.quick_kurum li i{
	margin-right: 5px;
	background: black;
}

.child_footer .footer_guven img{
	height: 30px;
	width: 50px;
	display:flex;
	background: black;
}
.child_footer .footer_social img{
	height: 30px;
	width: 30px;
	display:flex;
	background: black;
}
.footer_guven{
    display:flex;
    justify-content: start;
	margin-top: 10px;
	background: black;
}

.iki{
    margin-left: 9px;
}
.uc{
    margin-left: 9px;
}
.footer_yardim{
	justify-content: start;
	margin-top: 10px;
	background: black;
}





	




