@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200&display=swap');
*{
	margin: 0;
	padding: 0;
	background-color: white;
	box-sizing: border-box;
}
body{
    color: black;
    background-color: white;
}

#contact{
    height: 110vh;
    width: 100%;
    overflow: hidden;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.title{
    font-size: 47px;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 9rem;
    color: #393c3d;
}
.contact-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-left{
    width: 40%;
    padding: 3rem;
}
.cont-top{
    padding-bottom: 2rem;
    border-bottom: 1px solid darkgreen;
}
.cont-element{
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.cont-element i{
    color: white;
    padding: 0.7rem;
    border-radius: 50%;
    border: 2px solid transparent;
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: all 0.4s ease;
    background-color: darkgreen;
}
.cont-element:hover i{
    background-color:white;
    color: darkgreen;
}
.cont-element a{
    color: black;
    text-decoration: none;
}
.cont-bottom{
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cont-bottom a i{
    color: white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: darkgreen;
    border-radius: 50%;
}
.cont-bottom a:hover i{
    color: darkgreen;
    background-color: white;
    box-sizing: border-box;
}


.cont-right{
    width: 60%;
    padding: 3rem;
}
.cont-right form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-right form input, textarea {
    width: 100%;
    margin: 1rem 0;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px dotted darkgreen;
    color: black;
    transition: all 0.4s ease;
}
.cont-right form button{
    background-color: #ffffff;
    color: #686d6e;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 1px dotted darkgreen;
    border-radius: 3px;
}

.cont-right form input:hover, textarea:hover{
    color: black;
    background-color:white;
}
.cont-right form input:focus, textarea:focus{
	color: black;
	background-color:white;
}
/* hooder */
li,a,button{
	font-weight: 500;
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;

}
header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 10%;
	background:darkgreen;
}
.logo{
	cursor: pointer;
	margin-right: auto;
}
.one{
	list-style: none;
	background: darkgreen;
}
.one li {
	
	display: inline-block;
	padding: 0px 20px;
	position: relative;
	background-color: darkgreen;
}
.one li a{
	transition: all 0.3s ease 0s;
	background-color: darkgreen;
}
.one li a:hover{
	color: black;
	text-shadow: 1px 1px;
}
.btn1{
	margin-right:5px;
	margin-left: 240px;
	padding: 3px 4px;
	background-color:white;
	color: darkgreen;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	transition: all 0.3s ease 0s;;
}
.btn1:active{
    box-shadow: 3px 3px 9px #ffffff ;
}
.btn1:hover{
	background: white;
	color: black;
	text-shadow: 1px 1px;
}

.btn2{
	margin-left: 5px;
	padding: 3px 6px;
	background-color: white;
	color: darkgreen;
	border: none;
	border-radius: 50px;
	cursor:pointer;
	transition: all 0.3s ease 0s;
}
.btn2:active{
    box-shadow: 3px 3px 9px #ffffff ;
}
.btn2:hover{
	background: white;
	color: black;
	text-shadow: 1px 1px;
}
.two{
	list-style: none;
	background: white;
}
.two li {
	
	display: inline-block;
	padding: 8px 20px;
	position: relative;
	background-color: white;
}

.two li a{
	transition: all 0.3s ease 0s;
	background-color: white;
	color: black;
	margin-left: 80px;
}
.two li a:hover{
	color: darkgreen;
	text-shadow: 1px 1px;
	
}
/* son */
footer{
	background: black;
	padding: 60px 0 20px 0;
	color: white;
}
.inner_footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	width: 80%;
	background: black;
}
.child_footer{
	flex-basis:24%;
	background: black;
}
.child_footer h3{
	margin-bottom: 13px;
	background: black;
	font-size: 20px;
}
.child_footer .footer_social{
	display:flex;
	justify-content: start;
	margin-top: 10px;
	background: black;
}
.footer_yardim{
	justify-content: start;
	margin-top: 10px;
	background: black;
}

.child_footer ul li{
	flex-basis: 15%;
	background: black;
	list-style-type:none;
}
.child_footer ul li a{
	color:white;
	background: black;
	font-size: 13px;
}
.quick_kurum{
	display: flex;
	flex-direction: column;
}
.quick_kurum li a:hover{
	text-decoration: underline;
}
.quick_kurum li i{
	margin-right: 5px;
	background: black;
}
.footer_guven{
    display:flex;
    justify-content: start;
	margin-top: 10px;
	background: black;
}
.child_footer .footer_guven img{
	height: 30px;
	width: 50px;
	display: flex;
	background: black;
}
.child_footer .footer_social img{
	height: 30px;
	width: 30px;
	display:flex;
	background: black;
}
/* menu */
.menu .box-container{
	width: 90%;
	padding: 0px;
	background:transparent;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	margin-bottom: 110px;
}
.menu .box-container .box{
	width: 850px;
	height: 600px;
	background: transparent;
	margin: 0px 10px;
	transition: 1s;
}
.menu p{
    font-size: 19px;
    color: #393c3d;
}
.menu h2{
    text-align: center;
    font-size: 25px;
    color: #393c3d;
}
.iki{
    margin-left: 9px;
}
.uc{
    margin-left: 9px;
}

